<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Clay and Fur needs access to your camera to take photos of your pottery pieces at different stages of creation.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Clay and Fur needs access to your photo library to let you select existing photos of your pottery pieces.</string>
</dict>
</plist>
